body{
    background-color: #C70039;
    position: absolute;
    width: 160;
    height: 130;
}
#rectanguloAzul {
    position: absolute;
    background-color:#354BF7 ;
    width: 110;
    height: 75;
    top:100;
    right:25;
}
#rectanguloBlanco{
    position: absolute;
    background-color: #FFF;
    width: 10;
    height: 20;
    top: 0;
}
.rectPequeno{
    position: absolute;
}
.azulPequenoFuera{
    position: absolute;
}
