body{
    background-color: #C70039;
}

/*Rectangulo de fuera 1*/
body>div:nth-of-type(1){
    position: absolute;
    background-color:#354BF7;
    width: 10;
    height: 10;
    top: 10;
    left: 50;
}
/*Rectangulo de fuera 2*/
body>div:nth-of-type(2){
    position: absolute;
    background-color:#354BF7;
    width: 10;
    height: 10;
    top: 10;
    left: 125;
}
/*Rectangulo azul*/
body>div:nth-of-type(3){
    position: absolute;
    background-color:#354BF7;
    width: 150;
    height: 100;
    top: 20;
    left: 20;
}
/*Rectangulo blanco*/
body>div>div{
    position: absolute;
    background-color:#FFF;
    width: 125;
    height: 80;
    top: 12;
    left: 12;
}

/*Rectangulo pequeño dentro N2*/
div>div:nth-child(2){
    position: absolute;
    background-color:#354BF7;
    width: 15;
    height: 15;
    top: 20;
    left: 55;
}
/*Rectangulo pequeño dentro N3*/
div>div:nth-child(3){
    position: absolute;
    background-color:#354BF7;
    width: 15;
    height: 15;
    top: 20;
    left: 90;
}
/*Rectangulo pequeño dentro N4*/
div>div:nth-child(4){
    position: absolute;
    background-color:#354BF7;
    width: 15;
    height: 15;
    top: 50;
    left: 20;
}
/*Rectangulo pequeño dentro N5*/
div>div:nth-child(5){
    position: absolute;
    background-color:#354BF7;
    width: 15;
    height: 15;
    top: 50;
    left: 55;
}
/*Rectangulo pequeño dentro N6*/
div>div:nth-child(6){
    position: absolute;
    background-color:#354BF7;
    width: 15;
    height: 15;
    top: 50;
    left: 90;
}
/*Rectangulo pequeño N1*/
div>div:nth-last-child(6){
    position: absolute;
    background-color:#354BF7;
    width: 15;
    height: 15;
    top: 20;
    left: 20;
}
